
$padding1:50px 0px 10px 0px;
$padding2:50px 10px 10px 10px;
$padding3:50px 10px 10px 0px;
$color:white;
$color1:#fbcdef;
$color2:pink;
$width:400px;
$height:300px;



.backg{
  background-color: $color1;
}

.h_01{
  font-family: fantasy;
  font-size: 70px;
  color:red;
  text-align: center;
  padding-top:100px;
  padding-bottom: 5px;


}

.p1
{
  text-align: center;
  font-size: 35px;
  font-family: sans-serif;
  padding-top: 50px;
  padding-bottom: 100px;
  color:dark;
}

.p2
{
  text-align: center;
  color:$color;
}

.div1{
  //margin: 20px;
  background-image: url('back.jpg');
  background-color: #cccccc; /* Used if the image is unavailable */
  height: auto; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  //position: fixed;

  h2{
    text-align: center;
    color:blue;
    font-size: 70px;
    padding-bottom: 5px;
  }

  li{
    color:blue;
    font-size: 30px;
  }

  li>a{
    color: $color2 !important;
    text-decoration: none !important;
    }
}

  %image_0{
    height: $height;
    width: $width;
  }

  .image_1 {
    @extend %image_0;
    padding:$padding1;
    height: 400px;
  }

  .image_3 {
    @extend %image_0;
    padding:$padding3;
  }

  .image_2{
    padding-top:50px;
    height: 300px;
    width: 350px;
  }

  .div2{

    padding-top: 20px;
    p::selection {
                color: red;
                background-color: yellow;
            }
    p{
      font-size: 30px;
      color:$color;
    }
  }

  %h_0{
    font-size: 30px;
    font-family: sans-serif;
    text-decoration:none !important;
    padding-top: 100px;
    background-color: #3cf24c;
    border-radius: 40px;
  }

  .h_1 {
    @extend %h_0;
    padding:$padding1;
  }

  .h_2 {
    @extend %h_0;
    padding:$padding2;
  }

  .h_3 {
    @extend %h_0;
    padding:$padding3;
  }

  .div3{
    //background-color: purple;
    //width: 100%;
    //height: 10px;
    //padding-top: 800px;
    //padding-bottom: 100px;
    p:hover{
      color:black;
    }
    p{
      font-size: 20px;
      font-family: sans-serif;
      text-align: center;
      text-decoration:none;
      color: $color;
      margin-top: 300px;
      padding-bottom: 100px;
      padding-top: 70px;
      background-color: purple;
      background-size: auto;
      width: 100%;
      //width: 200px;
      //height: 40px;
    }
  }

  #tal{
    div{
      padding: 20px;
      border: 2px solid black;
    }
    table > th{
      border: 1px solid red;
    }
  }
